*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.header{
    margin:0;
    padding: 0;
    color: linear-gradient(40deg,greenyellow,red);
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer{
    margin:0;
    padding: 0;
    /* box-sizing: border-box; */
    /* background: #fff; */
    /* border-radius: 20px; */
    color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    width: 100%;
    min-height:100vh;
    background: linear-gradient(135deg,#e2e4e700,#6f6971);
    padding: 10px;
}
.to-do-list{
    width: 100%;
    max-width: 600px;
    background: #fff;
    margin: 40px auto 20px;
    padding: 40px 30px 60px;
    border-radius: 20px;
    size: 20px;
    background-color: white;
}
.to-do-list h3{
    color:#002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: red;
    font-style: normal;
    font-weight: 200;
    font-display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.to-do-list h3 img{
    width: 30px;
    margin-left: 10px;

}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ecf0ed;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border:none;
    outline:none;
    padding: 10px;
    font-weight: 14px;
    background:transparent;
}
button{
    border:none;
    outline:none;
    padding:16px 50px;
    background:#ff5945;
    color:#fff;
    font-size: 20px;
    cursor:pointer;
    border-radius: 30px;
}
ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius:50%;
    background-image: url(unchecked.jpeg);
    background-size: cover;
    background-position: center;
    top:12px;
    left:8px;

}
ul li.checked{
    color:#555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked.jpeg);
}
ul li span{
    position: absolute;
    right:0px;
    top:5px;
    width:40px;
    height: 40px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}